.project-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
  border-bottom: 1px solid $dark-gray;
  .project-share {
    text-align: center;
    vertical-align: center;
    margin: 0px auto 20px auto;
    .credentials{
      li {
        font-size: 10px;
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 5px;
        list-style: none;
        text-decoration: none;
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid $gray;
      }
    }
    a {
      display: inline-block;
      text-decoration: none;
      background-color: $lightgray;
      border: 1px solid $gray;
      padding: 5px 10px;
      margin-left: 3px;
      margin-right: 3px;
      margin-top: 5px;
      color: $dark-blue;
      font-size: 13px;
      transition: background-color .3s;
      &:hover {
        background-color: $gray;
      }
      i {
        margin-right: 2px;
      }
    }
  }
  .project-tag {
    .tags {
      padding: 5px;
    }
    .tag {
      text-decoration: none;
      font-size: 11px;
      padding: 5px 5px;
      margin-left: 5px;
      color: $dark-blue;
      text-transform: uppercase;
      border: 1px solid $dark-blue;
      white-space: nowrap;
    }
  }
}
