.update-toast {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $dark-blue;
    color: white;
    height: 28px;
    line-height: 28px;
    text-align: center;
    z-index: 999999;
    opacity: 0;
    transform: translateY(-28px);
    transition: all .5s ease-in-out;

    &.show {
        opacity: 1;
        transform: translateY(0);
    }

    .update-toast-text {
        flex: 1;
    }

    .update-toast-refresh-btn {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../img/refresh.svg) no-repeat center;
        background-size: 100%;
    }
}
